.homeView {
    text-align: center;
    z-index: 100;
}

.homeView h1 {
    margin-top: 125px;
}

.homeView h4 {
    color: white;
}

.homeView input {
    width: 250px;
    height: 40px;
}

.joinButton {
    width: 100px;
    font-size: large;
    margin: 12px !important;
    background: #467cd6;
}

.homeView form {
    alignment: center;
}

.homeView button {
    margin: 25px 0 100px;
    text-align: center;
}

.homeView input {
    padding: 12px 20px;
    margin: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Do not know why... */
    transform: translateY(-1px);
}

@media (max-width: 390px){
    .homeView h1 {
        margin-top: 100px;
    }
    .background {
        height: calc(100vh - 470px) !important;
    }
}

.wave {
    height: 300px;
    width: 100%;
    left: 0;
    top: 300px;
    z-index: -10;
    position:absolute;
}

.background {
    width: 100%;
    height: calc(100% - 600px);
    background: linear-gradient(to right, #37568f, #467cd6);
    top: 600px;
    position:absolute;
    transform: translateY(-1px);
    z-index: -100;
}

@media (max-height: 600px) {
    .background {
        height: 35px;
    }
}

.footer {
    background: linear-gradient(to right, #37568f, #467cd6);
    position: absolute;
    color: white;
    font-size: small;
    bottom: 0;
    width: 100%;
    height: 35px;
    padding-top: 20px;
    text-align: center;
    z-index: -1;
}

@media (max-height: calc(600px + 40px + 20px)) {
    .footer {
        margin-top: 90px;
        position: relative;
        width: 100vw;
    }
}

.footer a {
    color: white;
    text-decoration: none;
}

.createdBy {
    position: center;
    display:inline;
}

.githubLink {
    display:inline;
    position: absolute;
    right: 10px;
    transform: translateY(-5px);
}

.githubLink svg {
    vertical-align: middle;
    margin-left: 3px;
    height: 30px;
}

@media (max-width: 400px) {
    .githubLink {
        display:none;
    }
}